.page {
	font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;;
	background: #2a2c2f;
	color: white;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

