.photo-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  align-items: stretch;
  margin: 92px 0;
  padding: 0 48px;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 88px 0;
  }
}


@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: 1fr;
    padding: 0 16px;
    margin: 64px 0;
    gap: 12px;
  }
}
