.lead {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

@media screen and (max-width: 1080px) {
  .lead {
    padding: 0 48px;
  }
}

@media screen and (max-width: 772px) {
  .lead {
    padding: 0 46px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 0;
  }
}
