.intro {
  display: grid;
  grid-template-columns: fit-content(690px) 1fr;
  grid-template-rows: repeat(3, min-content);
  width: 100%;
  max-width: 984px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1080px) {
  .intro {
    padding: 0 48px;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 0 16px;
  }
}
