.intro {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  align-self: start;
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 0 16px
  }
}
