.cover__background {
  max-width: 1184px;
  width: 100%;
  background-image: url("../../../images/baikal_cover.jpg");
  background-size: cover;
  background-position: center;
  aspect-ratio: 8/5;
  display: grid;
  grid-template-rows: 1fr;
  text-decoration: none;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

.cover__background:hover .cover__overlay {
  opacity: .8;
}
